<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title>Account List {{name}}</title>
</head>
<body>
    <h1>Account List Deleted</h1>
        <p>The account list <b>{{name}}</b> was <span class="delete">deleted</span>.</p><br>
        <p><a href="/">go home</a></p>
        <p style="padding-bottom: 0px; margin-bottom: 2px;"><a href="#" onclick="history.back(); return false;">
            delete another</a></p>
</body>
</html>